# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
env/
ENV/

# VS Code
.vscode/

# Data / DB files
backend/data/*.db
backend/data/*.sqlite

# OS
.DS_Store
Thumbs.db
